<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <h1>Excluir Post</h1>
    <div class="form-container">
        <p>Você tem certeza que deseja excluir o post "{{ post.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Excluir Post</button>
        </form>
        <a href="{% url 'posts' %}">Voltar para os posts</a>
    </div>
</body>
</html>
