<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite Posts</title>
</head>
<body>
    <h1>Favourite Posts</h1>
    <ul>
        {% for favorite in favorite_posts %}
            <li>
                <a href="{% url 'post_detail' favorite.post.id %}">{{ favorite.post.title }}</a>
            </li>
        {% empty %}
            <li>No Favourite Posts yet.</li>
        {% endfor %}
    </ul>
</body>
</html>
